body {
    font-size: 1.0vw;
    font-family: Arial, Helvetica, sans-serif;
    /* https://unsplash.com/photos/Mn9Fa_wQH-M */
    background-image: url(../images/Main_background_image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
}

/* header */
header {
    display: flex;
    background-color: black;
    color: rgb(71, 196, 212);
    position: fixed;
    height: 5vw;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
}

#mySidepanel, .openbtn {
    display: none;
}

#logo {
    width: 30%;
    background-image: url(../images/logo.png);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    line-height: 1.5em;
}

.main-menu {
    height: 70px;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 90%;
    justify-content: space-evenly;
}

.main-menu li a{
    display: block;
    margin: 1em;
    border: 1px solid rgb(71, 196, 212);
    border-radius: 10px;
    padding: 1em;
}

.main-menu li a:hover {
    background-color: white;
    color: black;
    border-color: white;
}

.main-menu .icon {
    display: none;
}

#functional {
    width: 10%;
}

#functional img {
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color:rgb(71, 196, 212);
    font-size: 0.875em;
}

/* order-now section */
.slide1, .slide2, .slide3, .contact-us, .menu-info, .video, .cyborg-service, .value{
    padding: 3em;
    text-align: center;
    font-size: 1.5em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 1vw 3vw;
}

.order-now div {
    margin-top: 1vw;
    margin-left: 10vw;
}

.slide1 {
    display: block;
    /* https://pixabay.com/photos/food-rice-soy-chopsticks-salmon-1406879/ */
    background-image: url(../images/order_background.jpg);
}

.slide2 {
    display: block;
    /* https://unsplash.com/photos/wmPDe9OnXT4 */
    background-image: url(../images/nigiri.jpg);
}

.slide3 {
    display: block;
    /* https://unsplash.com/photos/5Gte2_TlS_A */
    background-image: url(../images/maki_zushi1.jpg);
}

.contact-us {
    /* https://unsplash.com/photos/gUqVYcimak0 */
    background-image: url(../images/Contact-background.jpg);
}

.menu-info {
    /* https://unsplash.com/photos/ZslfLas1lh4 */
    background-image: url(../images/menu_background.jpg);
}    

.cyborg-service {
    /* https://unsplash.com/photos/fQxMGkYXqFU */
    background-image: url(../images/cyborg.jpg)
}

.order {
    background: transparent;
}

.banner{
    background: transparent;
    font-size: 2em;
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    padding-bottom: 2em;
    height: 35vw;
}

#icon img {
    width:15%;
    height:15%;
}

.cta-button {
    background-color: transparent;
    position: auto;
    width: 100%;
    padding-top: 1em;
    
}

.cta-button ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.cta-button ul li {
    padding: 2em;
}

.cta-button a, .promotion a, .location a, .openbtn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em;
    width: 5em;
    text-align: center;
    font-size: 1.5em;
    word-spacing: 1em;
    align-self: flex-end;
    margin-bottom: 3em;
    color: white;
    font-weight: bold;  
    background: black;
    box-shadow: 1px 1px 20px 0 grey;
    border-radius: 10px;
}

.cta-button a {
    width: 6.5em;
}

.contact-us>.cta-button a, .cyborg-service>.cta-button a{
    font-size: 1.0vw;
    word-spacing: 0.5em;
}

.cta-button a:hover, .promotion a:hover, .location a:hover {
    /* generated by https://mycolor.space/gradient */
    background-image: linear-gradient(to top, #ffffff, #f2f7ff, #ddf1fc, #c6edf1, #b8e7db);
    color: black;
}

/* activity */
.activity {
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.promotion, .location, .dine-in, .delivery {
    width: 50%;
    height: 45vw;
}

.promotion {
    /* https://www.publicdomainpictures.net/en/view-image.php?image=90472&picture=neon-open-sign */
    background-image: url(../images/neon_light.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promotion nav, .location nav {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height:35vw;
    width: 100%;
}

.promotion nav h2, .location ul, .location h2, .dine-in h2, .delivery h2, .form-title h1, .contact-form h2 {
    font-size: 2em;
    align-self: center;
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.banner>p, .form-title h1 {
    text-shadow: none;
}

.dine-in h2, .delivery h2 {
    text-align: center;
    padding-top: 2em;
    font-size: 3em;
}

.promotion a, .location a {
    display: block;
    margin-left: 11em;
}

.location, .dine-in, .delivery, .contact-form,.maki-zushi, .nigiri-zushi, .tempura, .our-vision, .our-mission, .our-goal{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.location ul {
    text-align: center;
    width: 100%;
    list-style: none;
    line-height: 2em;
    font-size: 1.5em;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    padding-right: 3em;
}

.location {
    /* https://unsplash.com/photos/KbLUa0QlnWg */
    background-image: url(../images/neon_map.jpg);
}

.dine-in {
    /* https://unsplash.com/photos/1uN2ULPiQ5g */
    background-image: url(../images/dine_in.jpg);
}

.delivery {
    /* https://unsplash.com/photos/uBX3acSnesE */
    background-image: url(../images/delivery.jpg);
}

.contact-form {
    /* https://unsplash.com/photos/1Uj0HmqQFGk */
    background-image: url(../images/form_background.jpg);
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
}

#footer-logo {
    width: 20%;
}

footer nav {
    width: 80%;
}

.footer-nav {
    display: flex;
    flex-direction: row;
}

.footer-nav li {
    padding: 1em;
    list-style: none;
}

/* background cover */
.background {
    padding: 0 4em;
    background-color: rgba(0, 0, 0, 0.8);
    right: 0;
    position: center;
}

/* form */
fieldset {
    margin-left: 8em;
    padding: 0 2em;
    border: 0;
    background: rgb(0,0,0,0.5);
    display: block;
    width:60%;
}

legend {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.1em;;
    padding: 0.5em 1em;
    margin: 1em -1em;
    border-radius: 10px;
    color: white;
    /* generated by https://mycolor.space/gradient */
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

fieldset .form-item {
    display: flex;
    margin-bottom: 1em;
    align-items: center;
    color: white;
}

fieldset .form-item > label {
    font-weight: bold;
    font-size: 1.5vw;
    font-style: italic;
    width: 25%;
    padding-right: 2em;
    text-align: right;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

fieldset .form-item .form-element {
    width: 60%;
}

fieldset .form-item .form-element > label {
	display: block;
}

input[type=text], textarea {
    box-shadow: rgba(0,0,0,0.15) 3px 3px 5px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    font-size: 0.9em;
}

input[type=text]:focus {
    border-color: #2cb5e8;
}

input[type=radio], input[type=checkbox] {
    margin-right: 1em;
}

select {
    font-size: 1em;
}

fieldset button {
    font-weight: bold;
    font-size: 1.3em;
    background: black;
    padding: 0.5em 1em;
    margin-top: 0;
    color: white;
    border: 0;
    border-radius: 10px;
    background: linear-gradient(-90deg, red, orange);
    cursor: pointer;
    float: right;
}

.form-title {
    text-align: center;
}

fieldset {
    align-self: center;
}

/* menu */
.banner {
    padding-top: 2em;
    font-size: 3em;
}

.description{
    font-size: 1.5em;
    color: white;
    font-weight: bold;  
    background: rgb(0,0,0,0.6);
    box-shadow: 1px 1px 20px 0 grey;
    width: 60%;
    height: 30%;
    padding: 2em;
    margin-left: 6em;
    margin-top: 5em;
}

.maki-zushi>.cta-button, .nigiri-zushi>.cta-button, .tempura>.cta-button {
    width:20%;
}

.maki-zushi>.cta-button a, .nigiri-zushi>.cta-button a, .tempura>.cta-button a, .cyborg .form-title .cta-button a{
    word-spacing: 0;
    background-color:rgb(71, 196, 212);
} 

.maki-zushi, .nigiri-zushi, .tempura, .our-goal, .our-vision, .our-mission {
    height:60vw;
    display: flex;
    flex-direction: row;
}

.maki-zushi, #m-popup .m-list {
    /* https://unsplash.com/photos/5Gte2_TlS_A */
    background-image: url(../images/maki_zushi1.jpg);
}

.nigiri-zushi, #n-popup .n-list {
    /* https://unsplash.com/photos/wmPDe9OnXT4 */
    background-image: url(../images/nigiri.jpg)
}

.tempura, #t-popup .t-list {
    /* https://unsplash.com/photos/paMbZ0iNka8 */
    background-image: url(../images/tempora.jpg)
}

.price {
    text-align: right;
    font-style: italic;
    font-size: 1em;
    color: whitesmoke;
    text-shadow:#FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

/* welcome video */
#loop {
    width: 100%;
    height: 70%;
}

.video .banner {
    height: 12em;
    padding-top: 0;
}

.video .cta-button {
    margin-top: 25em;
}

.welcome-page {
    /* https://unsplash.com/photos/00yDgACVeMA */
    background-image: url(../images/welcome_page.jpg);
}

.our-value {
    /* https://unsplash.com/photos/_bT-oNYP5Wk */
    background-image: url(../images/sunshine.jpg)
} 

/* cyborg service*/
.cyborg-service h1, .cyborg .dine-in>h2, .cyborg .delivery>h2, .our-value h3 {
    text-shadow:  0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

#cover {
    background-color: rgb(0,0,0,0.3);
    height: 50vw;
}

.cyborg .dine-in {
    /* https://unsplash.com/photos/wbx3FeGOEQ0 */
    background-image: url(../images/mech.jpg)
}

.cyborg .delivery {
    /* https://unsplash.com/photos/zPHftoPajis */
    background-image: url(../images/engine.jpg)
}

.cyborg .form-title .cta-button a {
    margin-top: 1em;
}

.cyborg .form-title .cta-button {
    height: 5vw;
}

/* audio player */
audio {
    display: none;
}

#podcast {
    padding-top: 2.5em;
}

#play, #pause {
    padding-top: 0.5em;
    box-shadow: 1px 1px 20px 0 palevioletred;
}

#pause img, #play img{
    width: 55%;
    height: 80%;
}

.player-controls {
    padding: 3vw;
}

body.js #podcast .player-controls {
	display: block;
    float: left;
}

body.js #podcast .player-controls a {
    position: fixed;
    display: block;
	background-color: whitesmoke;
	width: 3em;
	height: 3em;
	border-radius: 100%;
    text-align: center;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes rainbow {
    0% {
        background: whitesmoke;
    }
    25% {
        background: grey;
    }
    50% {
        background: whitesmoke;
    }
    75% {
        background: grey;
    }
    100% {
        background: whitesmoke;
    }
}

body.js #podcast .player-controls a:last-child {
	display: none;
    background-color: lightgray;
    animation: none; 
}

body.js #podcast .player-controls a:hover {
    background-color: lightskyblue;
    box-shadow: 1px 1px 20px 0 rgb(71, 196, 212);
    animation: rainbow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform: scale(1.2);
}

body.js #podcast .player-controls.playing a:first-child {
    display: none;
}

body.js #podcast .player-controls.playing a:last-child {
	display: block;
}

@keyframes fade-in{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.banner h1, .banner p {
    animation: fade-in;
    animation-duration: 3s;
}

/* Zoom for menu food */
#m-popup, #n-popup, #t-popup, #map-popup {
    position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.75);
	width: 100%;
	height: 100%;
	transition: all 0.5s ease;
	visibility: hidden;
	opacity: 0;
}

#m-popup .m-list, #n-popup .n-list, #t-popup .t-list, #map-popup .map-list {
    background-size: cover;
    background-position: center center;
	margin: 5em;
	padding-top: 30vw;
	box-shadow: 1px 1px 20px 0 grey;
	position: relative;
	border-radius: 5%;
}

#map-popup .map-list {
    background-image:none;
    margin-top:30vw;
    padding-top:0;
}

#map-popup .map-list iframe {
    width: 100%;
    height: 20vw;
}

#m-popup .close-button a, #n-popup .close-button a, #t-popup .close-button a {
    color: whitesmoke;
	font-style: italic;
	font-size: 1.25em;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	margin: 1em;
}

#map-popup .close-button a{
    color: black;
    font-weight: bold;
    font-style: oblique;
    font-size: 2.6em;
    position: absolute;
    top: 0;
    right: 0;
}

body.show-m-popup, body.show-n-popup, body.show-t-popup, body.show-map-popup {
    overflow: hidden;
}

body.show-m-popup #m-popup,
body.show-n-popup #n-popup,
body.show-t-popup #t-popup,
body.show-map-popup #map-popup {
    visibility: visible;
    opacity: 1;
}

/* About us */
.our-goal {
    /* https://unsplash.com/photos/cAtzHUz7Z8g */
    background-image: url(../images/our-goal.jpg);
}

.our-vision {
    /* https://unsplash.com/photos/pcu5rnAl19g */
    background-image: url(../images/our-vision.jpg);
}

.our-mission {
    /* https://unsplash.com/photos/0E_vhMVqL9g */
    background-image: url(../images/our-value.jpg)
}

blockquote {
    font-style: italic;
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1em;
}

blockquote:before {
    content: "\201C";
	font-size: 2em;
	margin-right: 0.2em;
	position: relative;
	top: 10px;
}

blockquote:after {
    content: "\201D";
    font-size: 2em;
	margin-right: 0.2em;
	position: relative;
	top: 10px;
}

.our-goal, .our-vision, .our-mission {
    margin: 3em;
    height: 45vw;
}

.our-goal div, .our-vision div, .our-mission div {
    height: 20vw;
}

@media only screen and (max-width: 700px) {
    body {
        font-size: 1.2vw;
    }

    .order-now div {
        margin-left: 3vw;
    }

    .activity {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        flex-wrap: wrap;
    }

    .dine-in, .delivery {
        padding: 10em 0;
    }

    .promotion, .location, .dine-in, .delivery {
        height: 50%;
        width: 100%;
    }

    .promotion a, .location a {
        margin-left: 35vw;
    }

    .location ul {
        padding-right: 5em;
    }
    
    /* responsive topnav, revised from w3school, https://www.w3schools.com/howto/howto_js_collapse_sidepanel.asp */
    header {
        display: none;
    }

    #mySidepanel {
        display: block;
    }

    .sidepanel {
        width: 0;
        position: fixed;
        z-index: 998;
        height: 28vw;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 2vw;
    }
      
    .sidepanel a {
        padding: 1vw 1vw 1vw 4vw;
        text-decoration: none;
        font-size: 2.5vw;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
      
    .sidepanel a:hover {
        color: #f1f1f1;
        text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    }
      
    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 1vw;
        font-size: 5vw;
    }
      
    .openbtn {
        display: block;
        margin: 2em 2em 0 0;
        width: 10%;
        font-size: 3vw;
        top: 0;
        right: 0;
        position: fixed;
        cursor: pointer;
        color: white;
        padding: 1em 0;
        border: none;
        z-index: 997;
    }
      
    .openbtn:hover {
        background-color:#444;
    }
}




